<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>{% block title %}{% endblock %} - Hyeoncheon</title>
		<link rel="stylesheet" href="/media/common/default.css" />
		<link rel="stylesheet" href="{{ path_to_theme }}style.css" />
		<script type="text/javascript">
			//<![CDATA[
			{% block script %}{% endblock %}
			//]]>
		</script>
		{% block style %}{% endblock %}
	</head>

	<body>
		<div id="header" class="frame">
			<h1>玄天, Across the Universe</h1>
		</div>

		<div id="content" class="frame">
			{% block content %}{% endblock %}
		</div>

		<div id="footer" class="frame">
			Hyeoncheon 0.1.0 &copy; 2009
			<a href="http://www.assembla.com/space/hyeoncheon">The Hyeoncheon Project.</a>
		</div>
		<!-- vim: set ts=2 sw=2 : -->
	</body>
</html>

