/* basement */
body { background: #111; color: white; margin: 0; padding: 0; }
body { font-family: "Verdana"; font-size: 10pt; }
div#header { padding: 0 10px; }
div#content { padding: 30px 10px; background: #333; }
div#footer { padding: 10px 10px; text-align: center; font-size: 0.9em; }

/* widget */
div.wgt_ds h2 { border-bottom: 1px solid #ccc; }
div.wgt_ds div.action { text-align: right; }
div.wgt_ds div.action a { text-decoration: none; color: #aaa; }
div.wgt_ds table.sheet { width: 100%; }
div.wgt_ds table.sheet td { background: #444; padding: 0px 10px; }
div.wgt_ds table.sheet td { border-bottom: 1px solid #ccc; }
div.wgt_ds table.sheet th { border-top: 2px solid #ccc; }
div.wgt_ds table.sheet th { border-bottom: 1px solid #ccc; }

/* common */
.tac { text-align: center; }
.tar { text-align: right; }
