{% extends "base.html" %}

{% block title %}Service Instance{% endblock %}

{% block style %}{% endblock %}

{% block content %}


<div class="wgt_ds">
	<h2>My Services</h2>
	<div class="action" id="service_action">
		<a href="create/">(Create Service)</a>
		<a href="/serviceitems/">New Service</a>
	</div>
	<table class="sheet" id="service_list">
		<tr>
			<th>c</th>
			<th>s</th>
			<th>s</th>
			<th>name</th>
			<th>location</th>
			<th>description</th>
			<th>stars</th>
			<th>action</th>
		</tr>
		{% for constellation in object_list %}
		<tr>
			<td class="tac">{{ constellation.id }}</td>
			<td class="tac"></td>
			<td class="tac"></td>
			<td class="tac">{{ constellation.name }}</td>
			<td class="tac">{{ constellation.location }}</td>
			<td>
			{{ constellation.description }}
			{{ constellation.uuid }}
			{{ constellation.timestamp }}
			</td>
			<td class="tac">{{ constellation.star_set.count }}</td>
			<td class="tac">S T P C</td>
		</tr>
		{% for s in constellation.star_set.all %}
		<tr>
			<td class="tac">\</td>
			<td class="tac">{{ s.id }}</td>
			<td class="tac"></td>
			<td class="tac">{{ s.name }}</td>
			<td class="tac">{{ s.constellation.name }}</td>
			<td>
				{{ s.uuid }}
				hostname: {{ s.hostname }}
				type: {{ s.type }}
				model: {{ s.model }}
				memory: {{ s.memory }}
				cpus: {{ s.cpus }}
				mhz: {{ s.mhz }}
				{% for d in s.listDomains %}
					{{ d }}
					{{ s.get_vm_uuid_by_name }}
				{% endfor %}

			</td>
			<td class="tac">{{ s.get_status_display }}</td>
			<td class="tac">S T P C</td>
		</tr>
		{% endfor %}
		{% endfor %}
	</table>
</div>

{% endblock %}
