{% extends "base.html" %}

{% block title %}Service Instance{% endblock %}

{% block style %}{% endblock %}

{% block content %}


<div class="wgt_ds">
	<h2>Universe Overview</h2>
	<div class="action" id="service_action">
		<a href="create/">(Create Service)</a>
		<a href="/serviceitems/">New Service</a>
	</div>

	<style>
		.wgt_tree_frame { border: 1px dotted white; }
		.wgt_tree_constellation { border-left: 1px dotted #555; }
		.wgt_tree_star { border-left: 1px dotted #555; }
		.wgt_tree_light { border-left: 1px dotted #555; }
		.wgt_tree_pool { border-left: 1px dotted #555; }
		.wgt_tree_volume { border-left: 1px dotted #555; }
		.wgt_item_constellation { border-top: 1px dotted #999; }
		.wgt_item_star { border-top: 1px dotted #999; }
		.wgt_item_light { border-top: 1px dotted #999; }
		.wgt_item_pool { border-top: 1px dotted #999; }
		.wgt_item_volume { border-top: 1px dotted #999; }
		.wgt_tree_star, .wgt_tree_light, .wgt_tree_pool, .wgt_tree_volume {
			margin-left: 16px;
		}
	</style>


	<div class="wgt_tree_frame">
		<div class="wgt_tree_constellation">
			{% for constellation in object_list %}
			<div class="wgt_item_constellation">
				{{ constellation.name }}
				{{ constellation.location }}
				{{ constellation.description }}
				{{ constellation.uuid|make_list|slice:":15"|join:"" }}...
				{{ constellation.timestamp|date:"Y-m-d H:i:s" }}
				{{ constellation.star_set.count }}
			</div>
			<div class="wgt_tree_star">
				{% for star in constellation.star_set.all %}
				<div class="wgt_item_star">
					{{ star.name }}
					{{ star.uuid|make_list|slice:":15"|join:"" }}...
					{{ star.uri }}
					{{ star.memory }}
					{{ star.cpus }}
					{{ star.mhz }}
					{{ star.hostname }}
					{{ star.type }}
					{{ star.model }}
				</div>
				{% endfor %}
			</div>
			<div class="wgt_tree_light">
				{% for light in constellation.light_set.all %}
				<div class="wgt_item_light">
					{{ light.name }}
					{{ light.uuid|make_list|slice:":15"|join:"" }}...
					{{ light.type }}
					{{ light.memory }}
					{{ light.cpus }}
					{{ light.lightstatus_set.latest.get_state_display }}
					{{ light.lightstatus_set.latest.cputime }}
					{{ light.lightstatus_set.latest.star }}
				</div>
				{% endfor %}
			</div>
			<div class="wgt_tree_pool">
				{% for pool in constellation.pool_set.all %}
				<div class="wgt_item_pool">
					{{ pool.name }}
					{{ pool.uuid|make_list|slice:":15"|join:"" }}...
					{{ pool.get_type_display }}
					{{ pool.capacity }}
					{{ pool.poolstatus_set.latest.get_state_display }}
					{{ pool.poolstatus_set.latest.allocation }}
					{{ pool.poolstatus_set.latest.available }}
					{{ pool.poollink_set.get.star }}
				</div>
				<div class="wgt_tree_volume">
					{% for volume in pool.volume_set.all %}
					<div class="wgt_item_volume">
						<!-- {{ volume.name }} -->
						{{ volume.uuid|make_list|slice:":15"|join:"" }}...
						{{ volume.get_type_display }}
						{{ volume.path }}
						{{ volume.capacity }}
						{{ volume.volumestatus_set.latest.allocation }}
					</div>
					{% endfor %}
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>

</div>

{% endblock %}
